@font-face {
  font-family: "iconfont";
  /* Project id 2891927 */
  src: url('//at.alicdn.com/t/font_2891927_q0z5rjns71.woff2?t=1635169030077') format('woff2'), url('//at.alicdn.com/t/font_2891927_q0z5rjns71.woff?t=1635169030077') format('woff'), url('//at.alicdn.com/t/font_2891927_q0z5rjns71.ttf?t=1635169030077') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dianzan:before {
  content: "\e611";
}
.icon-zuojiantou:before {
  content: "\e612";
}
.icon-wode:before {
  content: "\e613";
}
.icon-guanbi:before {
  content: "\e614";
}
.icon-lishi:before {
  content: "\e615";
}
.icon-fenxiang:before {
  content: "\e616";
}
.icon-yuedu:before {
  content: "\e617";
}
.icon-zuopin:before {
  content: "\e618";
}
.icon-youjiantou:before {
  content: "\e604";
}
.icon-pinglun:before {
  content: "\e605";
}
.icon-shoucang:before {
  content: "\e606";
}
.icon-shouye:before {
  content: "\e607";
}
.icon-shouji:before {
  content: "\e608";
}
.icon-sousuo:before {
  content: "\e609";
}
.icon-wenda:before {
  content: "\e60a";
}
.icon-yanzhengma:before {
  content: "\e60b";
}
.icon-shanchu:before {
  content: "\e60c";
}
.icon-dianzan2:before {
  content: "\e60d";
}
.icon-wuwangluo:before {
  content: "\e60e";
}
.icon-shipin:before {
  content: "\e60f";
}
.icon-gengduo:before {
  content: "\e610";
}
body {
  background-color: #f5f7f9;
}
.page-nav-bar {
  background-color: #3296fa !important;
}
.page-nav-bar .van-nav-bar__title {
  color: #fff;
}
